<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Tom\Documents\GitHub\Turnament-Tracker\TournamentTracker"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="tomaszkuzmadark@interia.pl"/>
    <add key="senderDisplayName" value="Tomasz"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-7TGQMO3;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

